# Name: nist_
# Author: Nick Schaub <nicholas.schaub@nist.gov>
# Version: 0.1
# Date: 2015/09/11
# Requires: ImageJ 1.43b

Plugins>Integral Image Filters, "Fast Second Derivative", nist.ij.plugins.Fast2DerivativePlugin
Plugins>Integral Image Filters, "Fast Vesselness", nist.ij.plugins.FastVesselnessPlugin
Plugins>Quantitative Absorption, "Absorbance Image Entropy", nist.ij.plugins.AbsorptiveEntropyPlugin("absorbance")
Plugins>Quantitative Absorption, "Transmittance Image Entropy", nist.ij.plugins.AbsorptiveEntropyPlugin("transmittance")
Plugins>Cobblestone Tools, "Segment Borders", nist.ij.plugins.SegmentCobblestonePlugin
Plugins>Quantitative Absorption, "Separate Melanin/Scatter", nist.ij.plugins.RemoveScatter
Plugins>Quantitative Absorption, "Process Absorption Images", nist.ij.plugins.AbsorptionImage