# Name: nist_
# Author: Nick Schaub <nicholas.schaub@nist.gov>
# Version: 0.1
# Date: 2015/09/11
# Requires: ImageJ 1.43b

Plugins>CARPE, "Separate Melanin/Scatter", nist.ij.plugins.RemoveScatter
Plugins>CARPE, "Calculate Absorbance", nist.ij.plugins.AbsorptionImage
Plugins>CARPE, "Stitch Images", nist.ij.plugins.SQuIREStitch